img{
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
    
}
.header-sec{}
.header-sec img{
    width: 65px;
}
.header-item{}
.header-item ul{
    margin-bottom: 0;
    padding-left: 0;
}
.header-item ul li {
    display: inline-block;
   
    line-height: 44px;
    margin-left: -4px;
}
.header-item ul li a{
    color: white;
    display: inline-block;
    padding: 0 30px;
    text-decoration: none;
    font-weight: 500;
    padding-top: 10px;
 
    
    
}
.header-item ul li a:hover{
  border-bottom: 2px solid white ;

}

/* ------banner--- */
.banner-sec {
    background: url(./img/header-bg2.png) no-repeat bottom;
    background-size: cover;
    padding-top: 51px;
    padding-bottom: 15px;
}
.banner-text{
   
}
.banner-text h1 {
    font-weight: 600;
    font-size: 47px;
}
.banner-text p {
    font-size: 19px;
    font-weight: 500;
}
.banner-text button {
    padding: 9px 41px;
    font-size: 22px;
    border-radius: 49px;
    font-weight: 600;
    background: blue;
}
.ima span img{
    
  
    
}
.ima{   
    
}

/* --about--- */

.about-text{

}
.about-text h1 {
    line-height: 41px;
}
.about-text p {
    margin-bottom: 2px;
}
.card{
    border-radius: 10px;
}
/* ----service--- */

.service-sec{
    background: url(./img/fact.jpg) no-repeat bottom ;
    background-size: cover;
    padding: 100px 0;
    margin: 30px 0;
}
.service-sec h1 {
    font-size: 30px;
    font-weight: 350;
    padding-top: 9px;
}
.service-sec h2 {
    margin-top: -9px;
    margin-bottom: 14px;
    font-size: 23px;
    font-weight: 600;
}
.imagi {
    width: 65px;
}

/* ---about---- */

.about-text-item .f1 {
    font-size: 21px;
    padding-left: 2px;
}
.about-text-item h1 {
    font-size: 44px;
    font-weight: 600;
    text-shadow: 2px 1px 2px green;
    line-height: 44px;
    margin-top: 13px;
}
.about-text-item p {
    margin-top: 30px;
    font-weight: 500;
    font-style: italic;
    color: gray;
    line-height: 34px;
    width: 90%;
   margin-bottom: 25px;
}
.about-text-item button {
    padding: 11px 32px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 28px;
}

/* -----price--- */
.item .icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    line-height: 100px;
    font-size: 79px;
}
.item p {
    line-height: 40px;
}
/* ----contact--- */
.con-menu ul{
    margin-top: 26px;
}
.con-menu ul li{

}
.con-menu ul li a {
    color: rgb(164, 99, 99);
    text-decoration: none;
    margin-bottom: 13px;
    display: inline-block;
    font-weight: 500;
}
.yyy span{
 
}

/* -----=------------ */

.About-sec .card{
transition: .3s;
}
.About-sec .card:hover{
    transform: translate(0,-20px);
}
.price-sec .card{
    transition: .3s;
}
.price-sec .card:hover{
    transform: scale(1.1);
}
.ima img{
    transition: .3s;
}
.ima img:hover{
    transform: scale(1.1);
}

.header-sec{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

}


.style .image img {
    width: 79%;
    border-radius: 10px;
    box-shadow: 2px 2px 20px cornflowerblue;
    transition: .6s;
    
}
.style .image img:hover{
    transform: scale(1.25) rotate(360deg);
}

.hobber{
    margin: auto;
width: 200px;

position: relative;
}
.hobber img{
max-width: 100%;
}
.hobber .uuu{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.276);
    width: 0;
    height: 0%;
    text-align: center;
    opacity: 0;
    transition: .5s;
    visibility: hidden;
}
.hobber .uuu h1{
    font-size: 30px;
    margin-top: 90px;
    color: rgb(255, 0, 0);
}
.hobber:hover .uuu{
width: 100%;
height: 100%;
opacity: 1;
visibility: visible;
}

.effect h1{
    position: relative;
    z-index: 1;
}
.effect h1::before{
    content: "";
    background: blue;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0; 
    border-radius: 50px;
    transition: .3s;
    z-index: -1;
}
.effect h1:hover::before{
width: 100%;
}